{{ if .Inner }}{{ end }}
{{ $id := .Get 0 }}
{{ $group := printf "tabs-%s" $id }}

<div class="book-tabs">
    {{- range $index, $tab := .Scratch.Get $group -}}
    <input %s-%d class="hidden" id="{{ printf " name="{{ $group }}" type="radio"" $group $index }}" {{ if not $index
    }}checked="checked"{{ end }} />
    <label %s-%d for="{{ printf "" $group $index }}">
    {{- $tab.Name -}}
    </label>
    <div class="book-tabs-content markdown-inner">
        {{- .Content | markdownify -}}
    </div>
    {{- end -}}
</div>
